{% extends "layout.html" %}
{% block title %} Books | Login {% endblock %}
{% load bootstrap4 %}

{% block body %}

    <div class="container">

        <nav aria-label="breadcrumb" class="my-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Homepage</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
          </nav>

        {% bootstrap_messages %}
        <h2>Login</h2>
    
        <form action="{% url 'login' %}" method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% buttons %}
                <button name="submit" class="btn btn-info">Login</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        </form>
        <!-- <p>Don't have an account yet? <span class="font-weight-bold"><a href="{% url 'register' %}">Register</a></span>.</p> -->
        <p>New registrations are currently disabled.</p>
    </div>

{% endblock %}