{% extends "layout.html" %}
{% block title %} Books | User ratings {% endblock %}

{% block body %}

    <div class="container">

        <nav aria-label="breadcrumb" class="my-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Homepage</a></li>
              <li class="breadcrumb-item active" aria-current="page">User</li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'user_account' username %}">{{ username }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Ratings</li>
            </ol>
          </nav>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Rating</th>
                <th scope="col">From</th>
                <th scope="col">Book</th>
                <th scope="col" class="d-none d-md-table-cell">Comment</th>
                <th scope="col" class="d-none  d-md-table-cell">Date</th>
              </tr>
            </thead>
            <tbody>
                {% for rating in ratings %}
              <tr>
                <th scope="row">
                    {% if rating.rating == 'good' %}
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="green" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/>
                        <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                        </svg>
                    {% elif rating.rating == 'medium'%}
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-emoji-neutral" fill="orange" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                        <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                      </svg>
                    {% elif rating.rating == 'bad'%}
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-emoji-frown" fill="red" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
                        <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                      </svg>
                    {% endif %}
                </th>
                <td><a href="{% url 'user_account' rating.user_rating|slugify %}">{{ rating.user_rating }}</a></td>
                <td><a href="{% url 'book' rating.book.id rating.book.title|slugify %}">{{ rating.book.title }}</a></td>
                <td class="d-none d-md-table-cell"><a href="{% url 'user_rating' username rating.id %}">{{ rating.comment|truncatechars:17 }}</a></td>
                <td class="d-none d-md-table-cell">{{ rating.date|date:"M d, Y"  }}</td>
                {% empty %}
                <td><h4>No ratings so far.</h4></td>
                <td></td>
                <td></td>
                <td class="d-none d-md-table-cell"></td>
                <td class="d-none d-md-table-cell"></td>
            </tr>
                {% endfor %}
            </tbody>
          </table>
        
    </div>

{% endblock %}