/* Global */
body {
    font-family: 'Cabin', sans-serif;
}

a {
    color: #117a8b;
}

.dl {
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Footer gap */

.main-content {
    min-height: calc(100vh - 220px); /* Total viewport height - (height of navbar + height of footer) */
  }

  
/* Navbar */
.navbar {
    border-bottom: 5px solid #33b5e5;
}

.navbar a, a:hover {
    color: #000;
}


.navbar li a:hover:not(.btn) {
    background-color: #33b5e5;
    border-radius: 5px;
    transition: .3s ease;
}

.navbar .dropdown-toggle:hover svg {
    color: #fff;
}

.navbar .search  {
    width: 40%;
}

/* Main page header */
.container-fluid {
    padding: 0;
}

.main-header {
    font-family: 'Kalam', cursive;
}

.main-header h1 {
    font-size: 5.5rem;
}

.main-header p {
    font-size: 3rem;
}

p.main-header-amount {
    font-size: 1.5rem;
}

.jumbotron {
    border-radius: 0;
    background-image: linear-gradient(to right, #0f20273b, #203a4360, #2c536460), url('./img/cover3.jpg');
    background-position: center; 
    background-size: cover;
    height: 60vh;
}

.main-header input {
    z-index: 101;
    width: 40%;
    /* min-width: 400px;
    max-width: 800px; */
    /* margin: 0 auto; */
}

/* Search results bar */
#searchBarMain {
    width: 50% !important;
}

#results {
    position: absolute;
    z-index: 110;
    margin-top: 40px;
    width: 50%;
    margin-right: 90px;
    text-align: left
  }

  #results p {
    font-size: 1rem;
  }

  .search-result-image {
    width: 60px; 
    height: 90px;
  }

/* Book page */
.book-cover-img {
    width: 200px;
    height: 300px;
}

.book-seller-info {
    background-color: rgba(248, 248, 248, 0.686);
    border: 1px solid rgb(224, 224, 224);
    padding: 10px;

}

.book-price {
    font-size: 1.4rem;
}

button .btn-link-style {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

/* How it works */

.how-it-works {
    font-family: 'Kalam', cursive;
}


/* footer */
.footer {
    background-color: #33b5e5;
    height: 120px;
    color: #000;
}

.footer a {
    font-size: 1.1rem;
    /* font-weight: bold; */
    color: #fff;
}

/* Top Sellers */
.top-sellers {
    width: 50%;
}


/* CARDS */

.card {
    max-width: 200px;
}

.card p {
    margin-bottom: 0.4rem;
}

.card-img-top {
    width: 90% !important;
    height: 250px;
    object-fit: cover;
    align-self: center;
}

.card-body {
    padding: 0.8rem;
}

.card-text {
    color: #999;
}

.card-title {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    left: -1.7rem;
    top: 40%;
    margin-left: -200px;
    display: block !important;
    border:0px solid black;
}


.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -1.7rem;
    display: block !important;
    border:0px solid black;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    font-size: 3rem !important;
}

/* UTILS */

  #spinner::after {
    display: flex;
    content: "";
    width: 25px;
    height: 25px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #33b5e5;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


/* PAGINATOR */
.page-link {
    color: ##138496;
}

.page-item.active .page-link {
    background-color: #138496;
    border-color: #22d3ee;
}

/* Media Queries */
@media (max-width: 1400px) {
    .search {
        width: 100px;
    }
}

@media (max-width: 1120px) {
    .search {
        display: none;
    }

    /* .nav-item .search-link {
        display: block;
    } */
}

@media (max-width: 990px) { 

    .navbar li a:hover:not(.btn) {
        background-color: transparent;
        border-radius: 5px;
        transition: .3s ease;
    }

    .navbar li a:focus {
        outline: none;
    }

    /* Navbar collapse */
    .navbar-nav {
        display: inline;
    }

    .navbar li a:hover {
        border: none;
    }


    /* header */
    .main-header h1 {
        font-size: 3.5rem; 
    }

    .main-header p.lead {
        font-size: 2.3rem; 
    }

    p.main-header-amount {
        font-size: 1.3rem;
    }

    .main-header .btn {
        font-size: 1rem;
    }

    /* page titles */
    .main-content .category h1 {
        font-size: 2rem;
    }

    .main-content .books h1 {
        font-size: 2rem;
    }

    .main-content .categories h1 {
        font-size: 2rem;
    }

    /* Page settings */
    .main-content .books {
        flex-direction: column;
    }

    .main-content .books p {
        margin: 0 auto;
    }

    .main-content .category {
        flex-direction: column;
    }

    .main-content .category p {
        margin: 0 auto;
    }

    .main-content .contact-us h2 {
        font-size: 1.5rem;
    }

    .main-content .contact-us p {
        font-size: 1rem;
    }

    .main-content .book h1 {
        font-size: 2rem;
    }


    .footer a {
        font-size: 1rem;
    }

    #searchBarMain {
        width: 90% !important;
    }

    #results {
        position: absolute;
        z-index: 110;
        /* margin-top: 40px; */
        margin: 43px auto;
        width: 85%;
        /* margin-right: 90px; */
        text-align: left
      }
    
      #results p {
        font-size: 1rem;
      }
    
      .search-result-image {
        width: 60px; 
        height: 90px;
      }
    
    /* Book page */
    .book-cover-img {
        width: 200px;
        height: 300px;
    }

}



@media (max-width: 635px) { 

    .owl-prev {
        left: -1rem;
    }
    
    
    .owl-next {
        right: -1rem;
    }

    .main-header h1 {
        font-size: 3rem; 
    }

    .main-header p.lead {
        font-size: 2.3rem; 
    }

    p.main-header-amount {
        font-size: 1.3rem;
    }


    .main-content .book h1 {
        font-size: 1.5rem;
    }

    .how-it-works-sections h4 {
        font-size: 1.3rem;
    }

    #results {
        position: absolute;
        z-index: 110;
        /* margin-top: 40px; */
        width: 85%;
        margin: 43px auto;
        /* margin-right: 90px; */
        text-align: left
      }
    
      #results p {
        font-size: 1rem;
      }
    
      .search-result-image {
        width: 40px; 
        height: 70px;
      }

      .top-sellers {
        width: 90%;
    }

}

@media (max-width: 440px) { 



    .main-content .books h1 {
        font-size: 1.8rem;
    }
    

    .main-content .categories h1 {
        font-size: 1.8rem;
    }


    .main-content .category h1 {
        font-size: 1.8rem;
    }
    .main-content .contact-us h2 {
        font-size: 1.2rem;
    }

    .main-content .contact-us p {
        font-size: .9rem;
    }


}

@media (max-width: 400px) { 



    .main-header h1 {
        font-size: 2rem; 
    }

    .main-header p.lead {
        font-size: 2rem; 
    }

    p.main-header-amount {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .main-page-latest {
        font-size: 1.8rem;
    }

    

}
