{% extends "layout.html" %}
{% block meta %}
<!-- <meta property="fb:app_id" content="101269728545329">
<meta property="og:site_name" content="Vienna Books">
<meta property="og:url" content="{{ full_url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ book.title }} | Vienna-books.com">
<meta property="og:description" content="Sell or buy used and new books all over Vienna.">
<meta property="og:image" content="https://www.vienna-books.com{{ book.cover.url }}"> -->
{% endblock %}
{% block title %} Books | Book - {{ book.title }} {% endblock %}
{% load bootstrap4 %}
{% block body %}

<div class="container main-content book">

  <nav aria-label="breadcrumb" class="my-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Homepage</a></li>
      <li class="breadcrumb-item"><a href="{% url 'books' %}">Books</a></li>
      <li class="breadcrumb-item"><a href="{% url 'categories' %}">Categories</a></li>
      <li class="breadcrumb-item"><a href="{% url 'category' book.category|slugify %}">{{ book.category|title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
    </ol>
  </nav>

  {% bootstrap_messages %}

  <div class="row d-flex">
    <div class="col-md-3 mx-sm-auto order-2">
      <img src="{{ book.cover.url }}" alt="{{ book.title }}-image" class="book-cover-img mb-4 shadow d-none d-md-block border rounded">
        <!-- <h5 class="ml">Additional info</h5> -->
        <!-- <p class="mx-auto">ISBN: {{ book.ISBN }}</p> -->
        {% for offered in book_offers %}
        {% if user.is_authenticated and not offered.is_sold and user == offered.user %}
        <div class="border border-warning rounded p-2">
          <p>I have sold this book to:</p>
          <form action="{% url 'book' book.id book.title|slugify %}" method="POST">
            {% csrf_token %}
            <select name="sold_to_user">
              {% for buyer in buyers %}
              {% if buyer.user != user %}
              <option value="{{ buyer.user.id }}">{{ buyer.user }}</option>
              {% endif %}
              {% empty %}
              <option value="empty">-</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-success btn-sm my-1 mx-3" name="sold_to" {% if not buyers %} disabled {% endif %}}>Mark as sold</button>
          </form>
        </div>
        {% endif %}
        {% endfor %}

        {% for offered in book_offers %}
        {% if user.is_authenticated and not offered.is_sold and user == offered.user %}
        <div class="border border-danger rounded p-2 my-2 d-flex align-items-center justify-content-center">
          <form action="{% url 'book' book.id book.title|slugify %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="delete_my_offer" class="btn btn-danger btn-sm">Delete my listing</button>
          </form>
        </div>
        {% endif %}
        {% endfor %}

        {% for offered in book_offers %}
        {% if user.is_authenticated and offered.is_sold and user == offered.sold_to and not already_rated %}
        <div class="border border-success rounded p-2 my-2">
          <p>Hi! You have apperently bought a copy from  <a href="{% url 'user_account' offered.user %}">{{ offered.user }}</a>. Let us know if you are satisfied.</p>
          <p><a class="btn btn-info" href="{% url 'user_rate' offered.user offered.book.id %}">Rate seller</a></p>
        </div>
        {% endif %}
        {% endfor %}

        {% for offered in book_offers %}
        {% if user.is_authenticated and offered.is_sold and user == offered.sold_to and already_rated %}
        <div class="border border-success rounded p-2 my-2">
          <p>Thank you for rating! <a href="{% url 'user_rating' offered.user rating_id %}">You can check your rating here.</a></p>
        </div>
        {% endif %}
        {% endfor %}

        
        {% for offered in book_offers %}
        {% if user.is_authenticated and offered.is_sold and user == offered.user %}
        <div class="border border-success rounded p-2 m-2">
          <p>Thanks for sharing awesome books :)</p>
          <p>You sold your copy to: <a href="{% url 'user_account' offered.sold_to %}">{{ offered.sold_to }}</a></p>
        </div>
        {% endif %}
        {% endfor %}

        
    </div>
 

  <div class="col-md-9 order-md-2">
    <img src="{{ book.cover.url }}" alt="{{ book.title }}-image" class="book-cover-img mb-4 shadow d-md-none">
    <div class="d-flex">
      <h1>{{ book.title }} </h1>
    </div>
    <p class="lead">{{ book.author }}</p>
    <div class="book-seller-info rounded">
      <div class="row p-2">
          <div class="col-12 col-sm-6 d-flex flex-column justify-content-around">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v11.586l2-2A2 2 0 0 1 4.414 11H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg> <p class="m-0 ml-1"> Language: <span class="font-weight-bold">{{ book.language|title }}</span></p>
            </div>
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
                <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg> <p class="m-0 ml-1">Category: <a href="{% url 'category' book.category|slugify %}"><span class="font-weight-bold">{{ book.category|title }}</span></a></p>
            </div>
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg> <p class="m-0 ml-1">ISBN: <span class="font-weight-bold">{{ book.ISBN }}</span></p>
            </div>
          </div>
          <div class="col-12 col-sm-6 d-flex flex-column justify-content-around">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
               <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
             </svg> <p class="m-0 ml-1">Pages: <span class="font-weight-bold">{% if book.page_count %} {{ book.page_count }} {% endif %}</span></p>
            </div>
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
              <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <p class="m-0 ml-1">Year: <span class="font-weight-bold">{% if book.published_year %} {{ book.published_year|slice:4 }} {% endif %}</span></p>
            </div>
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
              </svg>
            <p class="m-0 ml-1">
              Type: <span class="font-weight-bold">Paperback</span></p>
            </div>
          </div>
      </div>
    </div>

        <div class="mt-5 mb-2 d-flex flex-column">
          <h5>Users looking for this book:</h5>
          <p>
            {% for u in watchlist %}
            <a href="{% url 'user_account' u.user %}">{{ u.user }} {% if not forloop.last %},{% endif %}</a> 
            {% empty %}
            As of right now nobody is looking for this book.
            {% endfor %}
          </p>
        </div>

        <div>
          {% if is_offered %}
          <p class="font-weight-bold">This book is currently offered from {{ sellers_count }} {% if sellers_count == 1 %} User. {% else %} users. {% endif %}</p>
          {% else %}
          <p class="font-weight-bold">At the moment nobody is offering this book.</p>
          {% endif %}
          {% if is_offered %}
          <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle w-100 d-flex align-items-center text-dark font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ sellers.0.user }} <span class="badge badge-dark ml-3 d-none d-sm-block">Condition: {{ sellers.0.condition }}</span> <span class="ml-auto">{% if sellers.0.price == 0 %} <span class="badge bg-success">Free</span> {% else %} {{ sellers.0.price }}&euro; {% endif %}</span>
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
              {% for seller in sellers %}
              <a class="dropdown-item d-flex justify-content-between" href="{% url 'contact_user_book' seller.user book.id seller.id %}">{{ seller.user }} <span class="my-auto badge badge-dark ml-3 d-none d-sm-block">Condition: {{ seller.condition }}</span> <span class="ml-auto">{% if seller.price == 0 %} <span class="badge bg-success">Free</span> {% else %} {{ seller.price }}&euro; {% endif %}</span></a>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>

        <div class="bg-light border rounded shadow-sm mt-5 d-flex align-items-center justify-content-center p-3">
          {% if is_offered %}
          <p class="text-dark m-0 ">I would like to also <a href="{% url 'book_quick_sell' book.id book.title|slugify %}" class="text-dark font-weight-bold" style="text-decoration: underline;">offer this book.</a></p>
          {% else %}
          <p class="text-dark m-0 ">I would like to <a href="{% url 'book_quick_sell' book.id book.title|slugify %}" class="text-dark font-weight-bold" style="text-decoration: underline;">offer this book.</a></p>
          {% endif %}
        </div>
        
        <div class="bg-light border rounded shadow-sm mt-2 d-flex align-items-center justify-content-center p-3">

          {% if not already_on_watchlist %}
                <form action="{% url 'book' book.id book.title|slugify %}" method='POST'>
                  {% csrf_token %}
                  <button class="btn btn-outline-info text-dark btn-sm mx-auto mx-lg-2 my-2 font-weight-bold" name="insert_into_watchlist" {% if user.is_anonymous or is_seller %} disabled {% endif %} ><svg xmlns="http://www.w3.org/2000/svg" class="mr-3" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
                    <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                  </svg> I am interested, please let me know when someone offers this book.</button>
                </form>
                {% else %}
                <form action="{% url 'book' book.id book.title|slugify %}" method='POST'>
                  {% csrf_token %}
                  <button class="btn btn-outline-danger btn-sm mx-auto mx-lg-2 my-2 font-weight-bold" name="insert_into_watchlist"><svg xmlns="http://www.w3.org/2000/svg" class="mr-3" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
                    <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                  </svg> I'm not interested anymore.</button>
                </form>
                {% endif %}
        </div>
        
        {% if book.description %}
        <div class="my-5">
          <h3>Book description</h3>
          <p>{{ book.description }}</p>
        </div>
        {% endif %}
      </div>
    </div>
</div>



{% endblock %}